<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Kitchening</h1>
    <header>
        <img src="/img/logo.jpg" alt="">
        <nav>
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">quienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">porfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href=""></a>contacto</li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="banner">
            <img src="/img/img-banner.jpg" alt="">
        </section>
        <section class="productos">
            <article class="producto"></article>
            <div class="img-box">
                <img class="img-foto" src="/img/img-pdto-1.jpg" alt="">
                <a class="btn-zoom" href="">ampliar foto</a>
            </div>
            

        </section>
    </main>
    <footer>

    </footer>
    <div class="caja">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque animi tenetur beatae corporis, amet error impedit hic voluptatem sunt exercitationem odit, optio culpa sequi facere magni perferendis nihil quos dolor?</p>
    </div>
    <div class="caja">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque animi tenetur beatae corporis, amet error impedit hic voluptatem sunt exercitationem odit, optio culpa sequi facere magni perferendis nihil quos dolor?</p>
    </div>
    
    <a href="" class="boton">Boton</a>
    
</body>
</html>