/*footer{
    width: 100px;
}
header li{
    background-color:#63645d ;
    margin-bottom: 2px;
    padding: 10px 0;
    text-align: center;

}
header li a, footer li{
    color: #ffffff;
    text-transform: uppercase;
}*/